# Dependencies
node_modules

# Testing
/coverage

# Next.js
.next
/out/

# Production
/build

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Windows reserved filenames
nul
con
prn
aux
com1
lpt1
